.app-layout {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: transparent;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}